*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    color: #fff;
}

#logo{
    width: 80%;
    margin-left: 10px;

}

.navbar-brand{
    width: 40px;
}

.container-fluid{
    padding: 0;
}

button.navbar-toggler{
    margin-right: 10px;
}

button.btn-outline-success{
    margin-right: 14px;
}

.card{
    width: 14rem;
    margin: 1.2rem;
    background-color: #000;
    color: #fff;
    border-color: #c3ff75;
    border: 20px;
}

.card-body{
    background-color: #000;
    color: #fff;
    padding: 1rem;
}

h5.card-title{
    height: 65px;
    background-color: #000;
    color: #fff;
}

h4.card-title1{
    height: 45px;
    background-color: #000;
    color: #fff;
}

img.card-img-topz{
    height: 200px;
    padding: 5px;
    height: 320px;
    background-color: #000;
    color: #fff;
}

.info-movie{
    display: flex;
    justify-content: space-around;
}

.infos{
    flex-grow: 1;
    margin-bottom: 6px;
}

#lista-filmes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #000;
    color: #fff;
    min-height: 95vh;
}

a.nav-link{
    margin-left: 8px;
}

input{
    margin-left: 8px;
}

.btnDetalhesFilme{
    width: 190px;
    justify-content: center;
    padding: 2px auto;
    margin: 2px auto;
    margin-top: 5px;
    border-radius: 5px;
    height: 35px;
    background-color: #c3ff75;
    max-width: 100%;
}

#filme-sai{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    display: none;
}

#mostrar-filmes{
    border-radius: 10px;
    width: 70vw;
    background-color: #000;
    color: #fff;
    z-index: 10;
    position: fixed;
    left: 15vw;
    top: 5vh;
    float: left;
    display: none;
    padding: 1rem;
    margin-top: 5vh;
}

.tudo{
    margin: auto;
    max-width: 700px;
}

#btnFavoritar{
    align-items: center;
    justify-content: center;
    width: 240px;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
    height: 35px;
    background-color: #c3ff75;
    max-width: 100%;
    border-radius: 5px;
}

#btnDesfavoritar{
    align-items: center;
    justify-content: center;
    width: 240px;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
    height: 35px;
    background-color: #c3ff75;
    max-width: 100%;
    border-radius: 5px;
}

img.img-fluid.rounded-start{
    width: 240px;
    margin: 20px;
    padding: 5px;
    height: 320px;  
    justify-items: center; 
    border-radius: 10px;
}