*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
}

#logo{
    width: 80%;
    margin-left: 10px;

}

.navbar-brand{
    width: 40px;
}

.container-fluid{
    padding: 0;
}

button.navbar-toggler{
    margin-right: 10px;
}

button.btn-outline-success{
    margin-right: 14px;
}

.card{
    width: 14rem;
    margin: 1.2rem;
    background-color: #000;
    color: #fff;
    border-color: #c3ff75;
}

div.card-body{
    width: 224px;
    justify-content: center;
}

img.card-img-topz{
    border-radius: 10px;
    margin: 5px;
    height: 32
    0px;
}


.info-movie{
    display: flex;
    justify-content: space-around;
}

.infos{
    flex-grow: 1;
    margin-bottom: 6px;
}

#lista-filmes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

a.nav-link{
    margin-left: 8px;
}

input{
    margin-left: 8px;
}

.btnDetalhes{
    width: 190px;
    justify-content: center;
    padding: 2px auto;
    margin: 2px auto;
    margin-top: 5px;
    border-radius: 5px;
    height: 35px;
    background-color: #c3ff75;
}